body {
  display: grid;
  min-height: 100vh;
  align-content: space-between;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

label {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
}

.indicators {
  display: flex;
  gap: 16px;
}

.coin {
  display: flex;
  gap: 16px;
}