// Variables
$clr-neutral-100: #ffffff;
$clr-neutral-300: #f4f7f9;
$clr-primary: #21c9b8;
$clr-positive: #41d9ab;
$clr-negative: #ea3943;
$clr-text: #262a41;
$light-text-color: #262a4180;

$font-family: 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir,
  segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$font-family-logo: 'Mulish', 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir,
  segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

// Mixins
@mixin flex-row($gap: null, $align: null, $justify: null) {
  display: flex;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-col($gap: null, $align: null, $justify: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}
