@import './shared';

.main-list {
  @include flex-col(24px);
}

.list-header {
  @include flex-col(16px);

  h1 {
    font-size: 1.7rem;
  }

  strong {
    font-weight: 600;
  }
}

table {
  border-spacing: 0 6px;
}

caption {
  display: none;
}

th {
  padding: 8px 16px;
  background: $clr-primary;
  color: white;
}

.coin-th {
  text-align: left;
}

.outer-left {
  border-radius: 4px 0 0 4px;
}

.outer-right {
  border-radius: 0 4px 4px 0;
}

td {
  height: 62px;
  padding: 0 16px;
  background: white;
  text-align: center;
  font-weight: 700;
}

.coin-row {
  outline-color: $clr-primary;
  cursor: pointer;

  &:hover {
    td {
      background: rgba(33, 201, 184, 0.1);
    }
  }
}

.coin-row__identifier {
  @include flex-row(10px, center);

  img {
    width: 30px;
  }
}

.coin-row__symbol {
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.5;
}

.coin-row__change {
  @include flex-row(10px, null, center);

  .fa-caret-up {
    align-self: flex-end;
  }
}

.positive {
  color: $positive-color;
}

.negative {
  color: $negative-color;
}

.coin-row__last-days {
  width: clamp(120px, 15vw, 700px);
  padding: 2px 16px;
}
