@import './shared';

.main-list {
  @include flex-col(1.5rem);
}

.list-header {
  @include flex-col(16px);

  h1 {
    font-size: 1.7rem;
  }

  strong {
    font-weight: 600;
  }
}

.table-wrapper {
  overflow: auto;
  max-width: 94vw;
}

table {
  width: 100%;
  border-spacing: 0 6px;
}

caption {
  display: none;
}

.radius-left {
  border-radius: 4px 0 0 4px;
}

.radius-right {
  border-radius: 0 4px 4px 0;
}

th {
  white-space: nowrap;
  padding-block: 10px;
  padding-inline: 1rem;
  background: $clr-primary;
  color: $clr-neutral-100;
}

th:nth-child(2),
td:nth-child(2) {
  position: sticky;
  left: 0;
}

.coin-th {
  text-align: left;
}

td {
  height: 70px;
  padding-inline: 1rem;
  background: $clr-neutral-100;
  text-align: center;
  font-weight: 700;
}

.coin-row {
  outline-color: $clr-primary;
  cursor: pointer;

  &:hover td {
    background: rgba(33, 201, 184, 0.1);
  }
}

.coin-row__identifier {
  @include flex-row(10px, center);

  img {
    width: 30px;
  }
}

.coin-row__symbol {
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.5;
}

.coin-row__change {
  @include flex-row(10px, null, center);

  .fa-caret-up {
    align-self: flex-end;
  }
}

.positive {
  color: $clr-positive;
}

.negative {
  color: $clr-negative;
}

.coin-row__last-days {
  width: clamp(120px, 15vw, 700px);
  padding-block: 2px;
}
