// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

// Variables
$primary-color: #f4f7f9;
$accent-color: #21c9b8;
$positive-color: #41d9ab;
$negative-color: #dc3434;
$text-color: #262a41;
$system-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

// General rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', $system-font-stack;
  color: $text-color;
}

h1,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

// Main grid
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4vw;
  position: relative;
  box-shadow: 0 2px 4px -4px rgb(212, 212, 212);

  a {
    color: $accent-color;
    text-decoration: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: 50px;
  }
}

.logo__text {
  min-width: max-content;
  font-size: 1.6rem;
  font-weight: 700;
}

.search {
  display: flex;
  gap: 1px;
  width: 40%;
  border-radius: 4px;
  background: $primary-color;

  label {
    display: none;
  }
}

#search {
  width: 100%;
  padding: 14px 1.5vw;
  border: none;
  border-radius: 4px 0 0 4px;
  background: $primary-color;
  color: $text-color;

  &:focus {
    outline-color: $accent-color;
  }
}

.search__btn {
  padding: 14px;
  border: none;
  border-radius: 4px;
  background: $primary-color;

  i {
    opacity: 0.3;
    transition: color 0.3s, opacity 0.3s;
  }
  
  &:hover {
    i {
      color: $accent-color;
      opacity: 1;
    }
  }
}

.date-git {
  display: flex;
  align-items: center;
  gap: 24px;
}

.date {
  font-weight: 500;
}

.fa-github {
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

// Main
main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 8vw;
  background: $primary-color;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    font-size: 1.7rem;
  }
}

.description__market-cap {
  font-weight: 700;
}

.description__percentage {
  font-weight: 600;
}

table {
  border-spacing: 0 6px;
}

caption {
  display: none;
}

th {
  padding: 10px 16px;
  color: white;
  background: $accent-color;
}

.coin-th {
  text-align: left;
}

.outer-left {
  border-radius: 4px 0 0 4px;
}

.outer-right {
  border-radius: 0 4px 4px 0;
}

td {
  padding: 18px 16px;
  background: white;
  text-align: center;
  font-weight: 700;
}

.coin {
  cursor: pointer;

  &:hover {
    td {
      background: rgba(33, 201, 184, 0.1);
    }
  }
}

.coin__identifier {
  display: flex;
  gap: 10px;
  align-items: center;

  img {
    width: 30px;
  }
}

.coin__name {
  text-transform: capitalize;
}

.coin__symbol {
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.5;
}

.coin__change {
  display: flex;
  justify-content: center;
  gap: 10px;

  .fa-caret-up {
    align-self: flex-end;
  }
}

.positive {
  color: $positive-color;
}

.negative {
  color: $negative-color;
}

.coin__last-days {
  width: clamp(120px, 15vw, 700px);
  padding: 2px 16px;
}

// Footer
footer {
  display: flex;
  justify-content: space-between;
  padding: 12px 2vw;

  a {
    color: $accent-color;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      opacity: 0.9;
    }
  }
}

.indicators {
  display: flex;
  gap: 18px;
}

.indicator {
  display: flex;
  gap: 5px;
  font-size: 0.9rem;
}

.indicator__value {
  color: $accent-color;
  font-weight: 700;
}