// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

// Variables
$primary-color: #f4f7f9;
$accent-color: #21c9b8;
$light-accent-color: #41d9ab;
$text-color: #262a41;
$system-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

// General rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', $system-font-stack;
  color: $text-color;
}

h1,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

// Main grid
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4vw;
  position: relative;
  box-shadow: 0 4px 4px -4px rgb(212, 212, 212);
}

.logo {
  color: $light-accent-color;
  font-size: 1.7rem;
  font-weight: 700;
  min-width: max-content;
}

label {
  display: none;
}

#search {
  padding: 14px 1.5vw;
  border-radius: 4px 0 0 4px;
  background: $primary-color;
  border: none;
  width: 100%;

  &:focus {
    outline-color: $accent-color;
  }
}

.search__icon {
  //background: $primary-color;
  //border-radius: 0px 4px 4px 0px;
  padding: 14px;

  i {
    color: $accent-color;
  }
  

    
}

.search {
  display: flex;
  width: 40%;
  gap: 1px;
  background: $primary-color;
  border-radius: 4px;
}

// Main
main {
  background: $primary-color;
  padding: 32px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.indicators {
  display: flex;
  gap: 16px;
}

.coin {
  display: flex;
  gap: 16px;
}